/* rosa: #c6426e
morado: #642b73
negro: #999
gris: #f5f5f5 */
html{
    font-family: 'Nunito', sans-serif;
}

a{
    text-decoration: none;
    color: #c6426e;
}

.fa-plane-departure{
    color: #642b73;
}

.title{
    text-transform: uppercase;
    text-align: center;
}

.container{
    background: #642b73; /*Respaldo*/
    background: -webkit-linear-gradient(to right, #c6426e, #642b73);
    background: linear-gradient(to right, #c6426e, #642b73);
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content{
    max-width: 960px;
    max-height: 560px;
    width: 100%;
    height: 80vh;
    background-color: white;
    border-radius: 15px;
    /* box-shadow: diferenciaHorizontal diferenciaVertical desenfoque amplitud color; */
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    position: relative;
    overflow: scroll;
}

.content{
    padding: 1em;
}

td{
    display: block;
    width: 100%
}
    
th:nth-of-type(1){
    font-size: 1.5em;
    font-weight: bold;
    color: #c6426e
}
    
th{
    display: none;
}

.paragraph{
    line-height: 1.8em;
    font-weight: 300;
}

.table{
    width: 100%;
    border-spacing: 0;
}

.table td, .table th{
    padding: 1em;
    text-align: left;
}

.table tr:nth-child(even){
    background-color: #f3e5f5;
}

.title-item{
    /* border-bottom-style: solid;
    border-width: 2px;
    border-color: #c6426e; */
    border-bottom: solid 2px #c6426e;
    padding: 0 1em 1em 1em;
    font-size: 2em;
    margin-bottom: 2em;
}

.num{
    background-color: #c6426e;
    color: white;
    padding: 0.5em;
    border-radius: 4px;
    margin-right: 0.5em;
    float: left;
}

.action{
    position: absolute;
    top: 1em;
    right: 1em;

}

.close{
    height: 40px;
    width: 40px;
    border-radius: 50% ;
    color: white;
    background-color: #642b73;
    display: inline-block;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    font-weight: 300;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

a:hover{
    opacity: 0.8;
    color: #642b73;
}

address{
    display: inline-block;
    color: #642b73;
    font-weight: bold;
    font-size: 1.2em;
}

img{
    float: left;
    margin-right: 1em;
    height: 300px;
    max-width: 100%;
}

@media(min-height:550px){
    .content{
        height: 550px;
        margin: 0.5em;
    }
}

@media(min-width:900px){
    th{
        display: table-cell;
    }
    td{
        display: table-cell;
        width: auto;
    }
    td:nth-of-type(1){
        font-weight: 1em;
    }
    .content{
            padding: 1.8em;
        }
    
}